a.list__tile--active
{
    color:black;
}

a.router-link-exact-active.list__tile--active
{
    color:#1976d2;
}

.navigation-drawer>.list .router-link-exact-active.list__tile--active>:first-child .icon
{
    color:#1976d2;
}

.navigation-drawer>.list .list__tile--active>:first-child .icon
{
    color: rgba(0,0,0,.54);
}